* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(36, 205, 235, 0.788); }
  body header {
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-rows: 60% 40%;
    background: blue;
    align-items: center;
    justify-items: center; }
    body header .contenedor {
      width: 98%;
      margin: auto; }
      body header .contenedor h1 {
        float: left;
        font-size: 3em;
        color: #fff;
        text-align: justify; }
        body header .contenedor h1 .icon-corazon {
          width: 70px;
          height: 70px;
          float: left; }
          body header .contenedor h1 .icon-corazon header.contenedor {
            display: table; }
            body header .contenedor h1 .icon-corazon header.contenedor header label {
              float: right;
              font-size: 28px;
              margin: 6px 0;
              cursor: pointer; }
              body header .contenedor h1 .icon-corazon header.contenedor header label section {
                width: 100%;
                margin-bottom: 30px; }

.banner {
  margin-top: 50px;
  position: relative; }
  .banner .banner img {
    width: 50%;
    height: 50%;
    margin-left: 20%; }
    .banner .banner img .banner h2 {
      color: #292727;
      font: 3em sans-serif bold; }
      .banner .banner img .banner h2 .banner p {
        font-size: 2em sans-serif;
        position: absolute;
        color: black; }

.atencion {
  width: 100%;
  padding: 100px;
  margin-top: auto; }
  .atencion .atencion h3 {
    font-size: 3em;
    font-family: sans-serif bold;
    color: #0e0d0d;
    margin: 20px; }
    .atencion .atencion h3 .atencion p {
      font-size: 2em;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #080808;
      border-radius: 40%; }
      .atencion .atencion h3 .atencion p .atencion img {
        width: 100%;
        height: 100%;
        margin: auto; }

section.servicios {
  width: 100%;
  height: 100%; }
  section.servicios .comunidad {
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    section.servicios .comunidad .serv {
      width: 100%;
      height: 100%;
      margin: auto; }
      section.servicios .comunidad .serv .servicios p {
        font-size: 2em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: absolute;
        color: #0c0b0b;
        text-align: center; }
        section.servicios .comunidad .serv .servicios p .turno {
          width: 80%;
          height: 80%;
          margin: 25px; }
          section.servicios .comunidad .serv .servicios p .turno .turno img {
            width: 80%;
            height: 80%;
            margin: auto; }
            section.servicios .comunidad .serv .servicios p .turno .turno img .turno h3 {
              font-size: 2em bold;
              text-align: center;
              margin: 10px; }
              section.servicios .comunidad .serv .servicios p .turno .turno img .turno h3 .redes {
                font-size: 25px;
                text-align: center;
                color: darkblue; }

footer .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px; }
  footer .contenedor footer .contenedor img {
    display: inline-block;
    width: 35px;
    justify-content: center; }
    footer .contenedor footer .contenedor img footer .contenedor h4 {
      font-size: 20px;
      text-align: center;
      font-family: cursive;
      color: #1f0202; }
