footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    footer .contenedor img{
        display: inline-block;
        width: 35px;
        justify-content: center;
        footer .contenedor h4{
            font-size: 20px;
            text-align: center;
            font-family: cursive;
            color: rgb(31, 2, 2);
        }
    }
}